@use "mixins";
@mixin body {
  #body {
    @include mixins.flex;
    display: none;
    @include mixins.size(inherit);
    @include mixins.size(100vw, auto);
    /***************************************Navbar Section******************************/
    nav {
      align-self: flex-start;
      @include mixins.size(inherit, 100px);
      box-shadow: 0 0 20px #2d3436;
      // border: 1px solid red;
      @include mixins.flex;
      gap: 20px;
      padding-inline: 50px;
      @media only screen and (width <= 750px) {
        padding-inline: 40px;
      }
      @media only screen and (width <= 550px) {
        padding-inline: 30px;
      }
      @media only screen and (width <= 480px) {
        padding-inline: 20px;
      }
      img {
        width: 70px;
      }
      p {
        font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif, sans-serif;
        font-size: 30px;
        // width: 100%;
        text-align: center;
        @media only screen and (width <= 750px) {
          font-size: 25px;
        }
        @media only screen and (width <= 550px) {
          font-size: 22px;
        }
        @media only screen and (width <= 480px) {
          font-size: 20px;
        }
      }
    }

    /***************************************Content Section******************************/
    main {
      gap: 50px;
      @include mixins.flex;
      justify-content: center;
      // border: 1px solid red;
      @media only screen and (width < 1500px) {
        @include mixins.flex(column);
        // @include mixins.size(inherit, auto);
        height: auto;
        justify-content: center;
      }
      /*****************Filter Section******************************/
      #filters {
        border: 1px solid lemonchiffon;
        @include mixins.flex;
        padding: 1rem;
        gap: 2rem;
        width: auto;
        height: auto;

        @media only screen and (width < 480px) {
          @include mixins.flex(column);
          align-items: flex-start;
        }
        aside {
          @include mixins.size(200px, 300px);
          @include mixins.size(400px, 370px);
          border-radius: 10px;
          box-shadow: 0 0 20px #2d3436;
          @include mixins.flex(column);
          justify-content: flex-start;
          align-items: flex-start;
          padding-inline-start: 15px;
          padding-top: 10px;
          gap: 10px;
          transition: height 0.25s ease-in-out;


          #yearh {
            text-transform: capitalize;
            color: whitesmoke;
            width: inherit;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
            @include mixins.flex;
           
            span {
              @include mixins.size(20px);
              // border: 1px solid lemonchiffon;
              @include mixins.flex(column);
              // margin-top: 200px;
              // display: contents;
              // background-color: #fff;
              svg {
                @include mixins.size(inherit);
                transition: all 0.25s ease-in-out;
                g path:d{
                  transition: all 0.25s ease-in-out;
                }
              }
            }
          }

          span {
            width: 100%;
            gap: 10px;
            input[type="radio"]:checked {
              background-color: #2d3436;
            }
            input[type="radio"] {
              margin-top: 1.5px;
              border: 2px solid white;
              box-shadow: 0 0 0 1px #2d3436;
              appearance: none;
              border-radius: 50%;
              @include mixins.size(12px);
              background-color: lightblue;
              transition: all ease-in 0.2s;
            }

            label {
              font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
              color: whitesmoke;
            }
          }
        }
      }
    }

    /*****************List Section******************************/
    .graphboard {
      box-shadow: 0 0 20px #2d3436;
      @include mixins.size(700px, 400px);
      // @include mixins.size(600px, auto);
      padding: 10px 0px 10px 30px;
      @include mixins.flex(column);
      align-items: flex-start;
      gap: 10px;
      @media only screen and (width < 480px) {
        width: 94vw;
      }

      h3 {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        color: whitesmoke;
      }
      ul {
        @include mixins.flex(column);
        gap: 10px;
        li {
          width: 550px;
          color: aliceblue;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        }
      }
    }
  }
}

.jahr {
  display: flex;
  @include mixins.flex;
}
.yeartoggle {
  display: none;
}
