@use "mixins";
@mixin body {
  #body {
    @include mixins.flex;
    display: none;
    @include mixins.size(inherit);
    /***************************************Navbar Section******************************/
    nav {
      align-self: flex-start;
      @include mixins.size(inherit, 100px);
      box-shadow: 0 0 20px #2d3436;
      // border: 1px solid red;
      @include mixins.flex;
      gap: 20px;
      padding-inline: 50px;
      @media only screen and (width <= 750px) {
        padding-inline: 40px;
      }
      @media only screen and (width <= 550px) {
        padding-inline: 30px;
      }
      @media only screen and (width <= 480px) {
        padding-inline: 20px;
      }
      img {
        width: 70px;
      }
      p {
        font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif, sans-serif;
        font-size: 30px;
        // width: 100%;
        text-align: center;
        @media only screen and (width <= 750px) {
          font-size: 25px;
        }
        @media only screen and (width <= 550px) {
          font-size: 22px;
        }
        @media only screen and (width <= 480px) {
          font-size: 20px;
        }
      }
    }

    /***************************************Content Section******************************/
    main {
      gap: 100px;
      @include mixins.flex;
      /*****************Filter Section******************************/
      aside {
        @include mixins.size(200px, 300px);
        border-radius: 10px;
        box-shadow: 0 0 20px #2d3436;
        @include mixins.flex(column);
        justify-content: center;
        align-items: flex-start;
        padding-inline-start: 15px;
        gap: 10px;

        h4 {
          text-transform: capitalize;
          color: whitesmoke;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        }

        span {
          @include mixins.flex;
          width: 100px;
          gap: 10px;

          input[type="radio"]:checked {
            background-color: #2d3436;
          }
          input[type="radio"] {
            margin-top: 1.5px;
            border: 2px solid white;
            box-shadow: 0 0 0 1px #2d3436;
            appearance: none;
            border-radius: 50%;
            @include mixins.size(12px);
            background-color: lightblue;
            transition: all ease-in 0.2s;
          }

          label {
            font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
            color: whitesmoke;
          }
        }
      }
      /*****************List Section******************************/
      section {
        @include mixins.size(600px, 300px);
        @include mixins.flex(column);
        align-items: flex-start;
        gap: 10px;
        h3 {
          font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
          color: whitesmoke;
        }
        ul {
          @include mixins.flex(column);
          gap: 10px;
          li {
          width: 5050px;
          color: aliceblue;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
          }
        }
      }
    }
  }
}
