@use "loader";
@use "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@keyframes loader2 {
  0%,
  50%,
  85%,
  100% {
    transform: scale(1);
  }

  60% {
    transform: scale(2);
  }
}

@keyframes fadeout {
  100% {
    opacity: 0;
  }
}
.fadeout {
  // animation: fadeout 0.25s ease-out 4.74s 1  forwards;
}
main {
  background-color: #d5b8b8;
  width: 100vw;
  height: 100vh;
  @include mixins.size(min(100vw, 100vw), 100vh);
  @include mixins.grid;
  overflow: hidden;
  #body {
    display: none;
  }
  
  /***************************************Loader Section******************************/
  @include loader.section;
  
  p {
    color: white;
  }

  svg {
    // width: inherit;
    // height: inherit;
    // border: 1px solid gold;
    rect {
      // width: inherit;
      // height: inherit;
    }
  }
}
