* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@keyframes loader2 {
  0%,
  50%,
  85%,
  100% {
    transform: scale(1);
  }

  60% {
    transform: scale(2);
  }
}

@keyframes fadeout {
  100% {
    opacity: 0;
  }
}
.fadeout {
  // animation: fadeout 0.25s ease-out 4.74s 1  forwards;
}
main {
  background-color: #d5b8b8;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
  #body {
    display: none;
  }
  /***************************************Loader Section******************************/
  section {
    width: min(100vw, 100vw);
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #1b2845;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);
    background-image: linear-gradient(315deg, #2d3436 0%, #494d5f 74%);

    // background-color: gold;
    div {
      display: flex;
      gap: 5px;
      place-items: center;
      flex-direction: column;

      div {
        img {
          width: 250px;
          @media only screen and (width <= 850px) {
            width: 180px;
          }
          @media only screen and (width <= 750px) {
            width: 150px;
          }
          @media only screen and (width <= 550px) {
            width: 120px;
          }
          @media only screen and (width <= 480px) {
            width: 90px;
          }
        }
        margin-bottom: 30px;
      }

      p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        // font-size: max(40px, 30px, 18px);
        width: 100%;
        text-align: center;
        @media only screen and (width <= 750px) {
          font-size: 30px;
        }
        @media only screen and (width <= 550px) {
          font-size: 25px;
        }
        @media only screen and (width <= 480px) {
          font-size: 18px;
        }
      }
      .loader2 {
        width: 200px;
        height: 150px;
        // background-color: rgb(0, 255, 89);
        flex-direction: row;
        display: flex;
        gap: 5px;
        place-items: center;
        padding-inline: 50px;

        @media only screen and (width <= 750px) {
          transform: scale(0.85);
        }
        @media only screen and (width <= 550px) {
          transform: scale(0.75);
        }
        @media only screen and (width <= 480px) {
          transform: scale(0.65);
        }

        span {
          width: 10px;
          height: 60px;
          // position: absolute;
          // top: 0;
          display: inline-block;
          border-radius: 15px;

          &:nth-child(1) {
            // left: 0;
            background-color: white;
            animation: loader2 2s ease infinite;
            box-shadow: 0 0 20px #000;
          }

          &:nth-child(2) {
            // left: 25px;
            background-color: white;
            animation: loader2 2s ease infinite 0.15s;
            box-shadow: 0 0 20px #000;
          }

          &:nth-child(3) {
            // left: 50px;
            background-color: white;
            animation: loader2 2s ease infinite 0.3s;
            box-shadow: 0 0 20px #000;
          }

          &:nth-child(4) {
            // left: 75px;
            background-color: white;
            animation: loader2 2s ease infinite 0.45s;
            box-shadow: 0 0 20px #000;
          }

          &:nth-child(5) {
            // left: 100px;
            background-color: white;
            animation: loader2 2s ease infinite 0.6s;
            box-shadow: 0 0 20px #000;
          }

          &:nth-child(6) {
            // left: 125px;
            background-color: white;
            animation: loader2 2s ease infinite 0.75s;
            box-shadow: 0 0 20px #000;
          }

          &:nth-child(7) {
            // left: 150px;
            background-color: white;
            animation: loader2 2s ease infinite 0.9s;
            box-shadow: 0 0 20px #000;
          }

          &:nth-child(8) {
            // left: 175px;
            background-color: white;
            animation: loader2 2s ease infinite 1.02s;
            box-shadow: 0 0 20px #000;
          }
        }
      }
    }
  }
  p {
    color: white;
  }

  svg {
    // width: inherit;
    // height: inherit;
    // border: 1px solid gold;
    rect {
      // width: inherit;
      // height: inherit;
    }
  }
}
